#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

:host {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  flex-direction: column;
}

.content-container {
  display: flex;
  width: 1128px;
  margin: 40px auto 0;
  @media (max-width: 1200px) {
    width: auto;
    justify-content: center;
    margin-top: 0;
  }
}

app-all-posts,
.post-divider {
  margin: 0 12px;
}
.post-divider {
  padding-top: 8px;
  margin: 0 12px;
}

app-tabs {
  margin-top: auto;
}
